body{
	padding: 0 20px 0;
	background-color: #eeeeee;

	font-family: sans-serif;
	line-height: 1.2rem;
	color: #333333;
}

a {
	color: #88aa00;
	text-decoration: none;
}
a:hover {
	background-color: #88aa00;
	color: #eeeeee;
}
nav ol,
nav ul {
	list-style: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}
