body{
	background-color:#eeeeee;
	padding: 0 20px 0;

	color: #333333;
	font-family: sans-serif;
	line-height: 1.2rem;
}
	
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
}
h2 {
	border-top: 1px solid #88aa00;
	padding: 1rem 0 0;
}

p {
	margin: 0.5rem 0;
}

a {
	color: #88aa00;
	text-decoration: none;
}
a:hover {
	background-color: #88aa00;
	color: #eeeeee;
}

code {
	background-color: #d3d3d3;
	border-radius: 2px;
	padding: 3px 4px;

	font-size: 0.9rem;
}
nav ol,
nav ul {
	list-style: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}
